<h1><%=@tweet.user.username%>:</h1>
<h3><%=@tweet.id%>. <%=@tweet.content%>    <a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a></h3>
<form action="/tweets/<%=@tweet.id%>" method='post'>
	<input type="hidden" name='_method' value='delete'>
	<input type="submit" value='Delete Tweet'>
</form>
